<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtwJbLnGanR4DKA7C2vMOFpFTrZEZFMwM</string>
	<key>GCM_SENDER_ID</key>
	<string>627669271397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.downpool.TimeEgg</string>
	<key>PROJECT_ID</key>
	<string>timeegg-26c49</string>
	<key>STORAGE_BUCKET</key>
	<string>timeegg-26c49.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627669271397:ios:4ed2a40042ba195241978c</string>
</dict>
</plist>