<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381677984215-gvdeutcvnlp9tv10oppmupalvvdvlg8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381677984215-l02sab4h8tdv9mq7i64u78ltj2s8hmm7</string>
	<key>API_KEY</key>
	<string>AIzaSyA8l1UaH3nJT8CSpr6W118cqvxnbKwrSz8</string>
	<key>GCM_SENDER_ID</key>
	<string>381677984215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.downpool.TimeEgg</string>
	<key>PROJECT_ID</key>
	<string>basicprojectlabs</string>
	<key>STORAGE_BUCKET</key>
	<string>basicprojectlabs.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:381677984215:ios:de1af30b9ebb1e1c969392</string>
	<key>DATABASE_URL</key>
	<string>https://basicprojectlabs-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>
